<h1>Apprentices</h1>

<br><br>
<%= link_to "back", profiles_path%>

<div class="container">

    <%= form_tag profiles_path, class: "form-inline", method: :get do %>
       <%= text_field_tag :borough, params[:borough],
         class: "form-control",
         placeholder: "Search by borough" %>
       <%= text_field_tag :start_date, params[:start_date],
         class: "form-control datepicker" %>
       <%= text_field_tag :end_date, params[:end_date],
         class: "form-control datepicker" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
  <br><br><br>
<div class="card-and-map-container">
  <div class="card-container">
    <% @profiles.each do |profile|%>
      <% unless profile == [""] %>
        <% if profile == current_user || current_user.role == 'host'%>

        <%=link_to profile_path(profile) do %>
          <div class="apprentice-card">

            <h3> <%= profile.first_name %> </h3>
           <p> <%= profile.trade %> </p>

          </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="map-container" id="map" data-markers="<%= @markers.to_json %>">
  </div>
</div>


</div>


