<h1>Apprentices</h1>

<br><br>

<%# unless @profiles == [""] %>
  <%# if @profiles.where(user: current_user).count == 0 && policy(Profile).new? %>
    <%#= link_to "Add profile", new_profile_path, class: "btn btn-primary"%>
  <%# end %>
<%# end %>
<%= link_to "back", profiles_path%>

<div class="container">

    <%= form_tag profiles_path, class: "form-inline", method: :get do %>
       <%= text_field_tag :borough, params[:borough],
         class: "form-control", id: "loc_search",
         placeholder: "Search by borough" %>
       <%= text_field_tag :start_date, params[:start_date],
         class: "form-control datepicker" %>
       <%= text_field_tag :end_date, params[:end_date],
         class: "form-control datepicker" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <br><br><br>
<div class="card-and-map-container">
  <div class="card-container">
    <% @profiles.each do |profile|%>
      <% unless profile == [""] %>
        <% if profile == current_user || current_user.role == 'host'%>

        <%=link_to profile_path(profile) do %>
          <div class="apprentice-card">
            <div class="name-card">
              <h3> <%= profile.first_name %> </h3>
              <p> <%= profile.trade.capitalize %> </p>
            </div>
            <div class="location-card">
              <p><strong><%= profile.borough.capitalize %></strong> | Lives <%= Geocoder::Calculations.distance_between([profile.latitude, profile.longitude], params[:loc_search]).round(2) %>km away</p>
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="map-container" id="map" data-markers="<%= @markers.to_json %>">
  </div>
</div>

</div>


