
<br><br>

<%# unless @profiles == [""] %>
  <%# if @profiles.where(user: current_user).count == 0 && policy(Profile).new? %>
    <%#= link_to "Add profile", new_profile_path, class: "btn btn-primary"%>
  <%# end %>
<%# end %>
<div class="container">
<%= link_to "Back", options_path, class: "text-right"%>
  <h1 class="text-center page-title">Search for an Apprentice</h1>
  <br>
  <div class="search-form text-center">
    <%= form_tag profiles_path, class: "form-inline", method: :get do %>
       <%= text_field_tag :trade, params[:trade],
         class: "form-control", id: "trade_search",
         placeholder: "Search by trade" %>
       <%= text_field_tag :location, params[:location],
         class: "form-control", id: "loc_search",
         placeholder: "Search by location" %>
       <%= text_field_tag :start_date, params[:start_date],
         class: "form-control datepicker", placeholder: "Select start date" %>
       <%= text_field_tag :end_date, params[:end_date],
         class: "form-control datepicker", placeholder: "Select end date" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

  <br><br><br>
<div class="card-and-map-container">
  <div class="card-container">
    <% @profiles.each do |profile|%>
      <% unless profile == [""] %>
        <% if profile == current_user || current_user.role == 'host'%>

        <%=link_to profile_path(profile) do %>
          <div class="apprentice-card">
            <div class="name-card">
              <h3> <%= profile.first_name %> </h3>
              <p> <%= profile.trade.capitalize %> </p>
            </div>
            <div class="location-card">
              <p><strong><%= profile.borough.capitalize %></strong>
                <% if params[:location].present? %>
                  | Lives <%= Geocoder::Calculations.distance_between([profile.latitude, profile.longitude], params[:location]).round(2) %>km away</p>
                <% end %>
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="map-container" id="map" data-markers="<%= @markers.to_json %>">
  </div>
</div>

</div>


