<h1>Apprentices</h1>

<br><br>
<%# unless @profiles == [""] %>
  <%# if @profiles.where(user: current_user).count == 0 && policy(Profile).new? %>
    <%#= link_to "Add profile", new_profile_path, class: "btn btn-primary"%>
  <%# end %>
<%# end %>
<%= link_to "Back", options_path, class: "btn btn-primary"%>

<div class="container">
  <%= form_tag profiles_path, method: :get do %>
    <%= text_field_tag :loc_search,
      params[:loc_search],
      class: "form-control",
      placeholder: "Search by borough"
    %>
  <% end %>

  <br><br><br>
<div class="card-and-map-container">
  <div class="card-container">
    <% @profiles.each do |profile|%>
      <% unless profile == [""] %>
        <% if profile == current_user || current_user.role == 'host'%>

        <%=link_to profile_path(profile) do %>
          <div class="apprentice-card">

            <h3> <%= profile.first_name %> </h3>
           <p> <%= profile.trade.capitalize %> </p>
           <p>Lives <%= Geocoder::Calculations.distance_between([profile.latitude, profile.longitude], [@lat, @lng]).round(2) %>km away</p>
          </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="map-container" id="map" data-markers="<%= @markers.to_json %>">
  </div>
</div>

</div>


