<h1><%= @profile.first_name %></h1>
<p><%= @profile.last_name %></p>
<p><%= @profile.trade %></p>
<p><%= @profile.skills %></p>
<p><%= @profile.borough %></p>
<p><%= @profile.cv %></p>
<p>created by <%= @profile.user.email %></p>
<% if policy(@profile).edit? %>
  <%= link_to "Edit", edit_profile_path(@profile), class: "btn btn-primary" %>
<% end %>
<% if current_user.role == 'host' %>
  <%= link_to "Add contract", new_profile_contract_path(@profile), class: "btn btn-primary" %>
<% end %>

<% if current_user.role == 'host' %>
  <%= link_to "Back", profiles_path, class: "btn btn-primary"%>
<% elsif current_user.role == 'apprentice'%>
  <%= link_to "Back", options_path, class: "btn btn-primary"%>
<% end %>
