<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>Contract</h1>
      <%= simple_form_for @contract do |t| %>
      <%= t.input :note, class: "form-control" %>
      <%= t.input :start_date, input_html: {class: "form-control datepicker"} %>
      <%= t.input :end_date, input_html: {class: "form-control datepicker"} %>
      <%= t.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
