<div class="container">

<h1 class="title">Contracts</h1>
    <div class="no-map-container container">
<%= link_to "Back", options_path, class: "text-right"%>
      <div class="row">
        <% @contracts.each do |contract|%>
           <% if contract.user == current_user || contract.profile.user == current_user %>
              <div class="col-xs-12 col-md-6">
                  <div class="user-card-container">

                    <div class="user-contract-card">
                      <%= link_to edit_contract_path(contract) do %>
      <i class="fas fa-pencil-alt", title='edit profile'></i>
    <% end %>
                       <% if contract.profile.image?  %>
                      <%= cl_image_tag @profile.image.url(:thumbn)%>
                      <% else %>
                      <%= cl_image_tag("profile-photo.jpg", width: 200, height: 200, radius: :max, crop: :fill) %>
                      <% end %>
                      <h3> <%= contract.profile.first_name %> </h3>
                      <p>"<%= contract.note %>"</p>
                      <p>Starts on: <strong><%= contract.start %></strong>  Until: <strong><%= contract.finished %></strong></p>
                    </div>
                  </div>
                <% end %>
            </div>
        <% end %>
      </div>

    </div>

</div>
