<div class="navbar-wagon navbar-fixed-top <%= "home-nav" if params[:controller] == "pages" && params[:action] == "home" %>">

  <!-- navbar-home-solid -->
  <!-- Logo -->
  <%= link_to "L Y N K", root_path, class: "logo" %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm nav-link">

    <% if user_signed_in? %>

      <!-- Links when logged in -->

    <% if current_user.role == 'apprentice'%>
     <% unless current_user.profiles.first == nil%>
        <%= link_to profile_path(current_user.profiles.first) do %>
        <div class="circular_name initial">
           <%= current_user.profiles.first.first_name[0]  %>
        </div>
        <% end %>
        <% else %>
          <%= link_to options_path(current_user.profiles.first) do %>
          <div class="circular_name initial">
           <i class="fal fa-user-alt"></i>
        </div>
        <% end %>

        <% end %>

    <% elsif current_user.role == 'host'%>
          <% unless current_user.companies.first == nil%>
          <%= link_to company_path(current_user.companies.first) do %>
        <div class="circular_name initial ">
          <%= current_user.companies.first.name[0] %>
        </div>
        <% end %>

        <% else %>
           <%= link_to options_path(current_user.profiles.first) do %>
          <div class="circular_name initial">
           <i class="fal fa-user-alt"></i>
        </div>
        <% end %>
        <% end %>
        <% end %>
        <%= link_to "Dashboard", options_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class: "navbar-wagon-item navbar-wagon-link"></i>  <%= t(".sign_out", default: "Log out") %>
        <% end %>


      <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>


<% if user_signed_in? %>
  <!-- Dropdown list appearing on mobile only -->
        <div class="navbar-wagon-item hidden-md hidden-lg">
          <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li> <%= link_to "Dashboard", options_path %>
              <li> <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </ul>
          </div>
        </div>

        <% else %>

              <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link login-button" %>

<% end %>
</div>

