<div class="wrapper">
  <div class="container">
    <h1>Welcome</h1>
    <div class="row">
      <% if current_user.role == 'apprentice'%>
        <% if Profile.find_by(user: current_user)%>

          <div class="col-xs-12 col-md-4">
            <%= link_to profile_path(Profile.find_by(user: current_user)) do  %>
            <div class="image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url(<%= cl_image_path("edit-user.png", crop: :fill) %>)" >
              <h3>Profile</h3>
            </div>
            <% end %>
          </div>

        <% else %>

          <div class="col-xs-12 col-md-4">
            <%= link_to new_profile_path do  %>
            <div class="image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url(<%= cl_image_path("edit-user.png", crop: :fill) %>)" >
              <h3>Add Profile</h3>
            </div>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <% if Company.find_by(user: current_user)%>

          <div class="col-xs-12 col-md-4">
            <%= link_to company_path(Company.find_by(user: current_user)) do  %>
            <div class="image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url(<%= cl_image_path("edit-user.png", crop: :fill) %>)" >
              <h3>Company Profile</h3>
            </div>
            <% end %>
          </div>

        <% else %>

          <div class="col-xs-12 col-md-4">
            <%= link_to new_company_path do  %>
            <div class="image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url(<%= cl_image_path("edit-user.png", crop: :fill) %>)" >
              <h3>Add Company Profile</h3>
            </div>
            <% end %>
          </div>
        <% end %>

          <div class="col-xs-12 col-md-4">
            <%= link_to profiles_path do  %>
            <div class="image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url(<%= cl_image_path("view-users.png", crop: :fill) %>)" >
              <h3>View apprentices</h3>
            </div>
            <% end %>
          </div>
      <% end %>

      <div class="col-xs-12 col-md-4">
        <%= link_to contracts_path do  %>
        <div class="image" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.2) 0%, rgba(0,36,61,0.2) 50%), url(<%= cl_image_path("view-work-history.png", crop: :fill) %>)" >
          <h3>View Contracts</h3>
        </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

