<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Company profile</h1>
      <%= simple_form_for @company do |t| %>
      <%= t.input :name, class: "form-control" %>
      <%= t.input :intro, class: "form-control" %>
      <%= t.input :website, class: "form-control" %>
      <%= t.input :address, class: "form-control" %>
      <%= t.input :phone_number, class: "form-control" %>
      <%= t.submit class: "btn btn-primary" %>
      <%= link_to "Back", options_path, class: "btn btn-primary"%>
      <%= link_to "Delete", company_path(@company), method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>
</div>
