<div class=" container form-container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h1>Company profile</h1>
      <%= simple_form_for @company do |t| %>
        <%= t.input :name, class: "form-control" %>
        <%= t.input :intro, class: "form-control" %>
        <%= t.input :website, class: "form-control" %>
        <%= t.input :address, class: "form-control" %>
        <%= t.input :phone_number, class: "form-control" %>
        <%= t.input :image %>
        <%= t.input :image_cache, as: :hidden %>
        <%= t.submit class: "btn btn-primary btn-submit" %>
      <% end %>
    </div>
      <%= link_to :back do %>
        <i class="fas fa-arrow-left profile-back", title="back"></i>
      <% end %>
      <% unless @company.id == nil %>
        <%= link_to  user_registration_path(current_user), method: :delete, data: { confirm: "You sure?" } do%>
          <i class="far fa-trash-alt brand-red", title="deactive account"></i>
        <% end %>
      <% end %>


  </div>
</div>
