<h1 class="text-center">Profile</h1>
<div class="container profile-container">
  <div class="profile-card">

<% if @company.image?  %>
  <%= cl_image_tag @company.image.url(:thumbn)%>
<% else %>
  <%= cl_image_tag("home-banner.jpg", width: 200, height: 200, radius: :max, crop: :fill) %>
<% end %>

<h1><%= @company.name %></h1>
<p><%= @company.intro %></p>
<p><%= @company.website %></p>
<p>created by <%= @company.user.email %></p>

<% if policy(@company).edit? %>
  <%= link_to edit_company_path(@company) do %>
    <i class="fas fa-pencil-alt", title='edit profile'></i>
  <% end %>
  <%= link_to  user_registration_path(current_user), method: :delete, data: { confirm: "You sure?" } do%>
    <i class="far fa-trash-alt brand-red", title="deactive account"></i>
  <% end %>
<% end %>

<%= link_to options_path do%>
  <i class="fas fa-arrow-left", title="back"></i>
<% end %>
 </div>
</div>
